.productSummary {
  padding-bottom: 3rem;
}

.totalValue {
  font-size: 1.25rem;
  font-weight: 600;
}

.buyTogetherTitle {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.25rem;
}

.buyTogetherContainer {
  padding-bottom: 2.5rem;
}

.disabledProduct {
  opacity: 50%;
  pointer-events: none;
}
