.container--buyTogether {
  max-width: none !important;
}

.skuSelectorContainer--buyTogether {
  margin: 0.25rem;
}

.skuSelectorContainer--buyTogether .skuSelectorItemImage .frameAround, .skuSelectorContainer--buyTogether .skuSelectorItemImage .skuSelectorInternalBox {
  border-radius: 50%;
}
